doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Authessa | #{title}
    link(rel='shortcut icon', href='favicon_1.ico')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css')
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/mdb.min.css', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')
    
  body
    include navbar

    block content
  .col-xs-12.footer
      hr
      .container
        .col-md-6
          | &copy; 2017 Rishabh Ravindra
          p.text-muted
            | Made with
            i.fa.fa-heart(aria-hidden='true')
            |  in Cincinnati
        .col-md-6.text-xs-right.social
          a.pt-0.pr-1(href='https://www.linkedin.com/in/rishravi', target='_blank')
            i.fa.fa-linkedin
          a.pt-0.pr-1(href='https://github.com/Rishabhravindra/', target='_blank')
            i.fa.fa-github
          a.pt-0.pr-1(href='mailto:hello@rishravi.me?Subject=Hi%20there', target='_blank')
            i.fa.fa-envelope  
    //footer
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js', integrity='sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb', crossorigin='anonymous')
    script(src='/js/bootstrap.min.js')
    script(src='/js/mdb.min.js')
