nav.navbar.navbar-dark.py-1
  button.navbar-toggler.hidden-sm-up(type='button', data-toggle='collapse', data-target='#collapseEx2')
    i.fa.fa-bars
  .container
    #collapseEx2.collapse.navbar-toggleable-xs
      a.navbar-brand Vandana
      ul.nav.navbar-nav.float-sm-right
        li.nav-item
          a.nav-link Home
        li.nav-item
          a.nav-link About
        li.nav-item
          a.nav-link Contact
        li.nav-item
          a.nav-link Profile
        li.nav-item
          a.nav-link.px-1.login Sign in