extends layout

block content
  .reg-container.container
    h1.h1-responsive.text-xs-center Sign Up
    form.reg-form.py-1(method='POST' action='/register')
      .form-inline
        .md-form.form-group
          input#email.form-control(type='text', name='email')
          |  
          label(for='email') Email Address
        .md-form.form-group
          input#name.form-control(type='text', name='name')
          |  
          label(for='name') Name
      .form-inline
        .md-form.form-group
          input#password.form-control(type='password', name='password')
          |  
          label(for='password') Create Password
        .md-form.form-group
          input#confirmPwd.form-control(type='password', name='confirmPwd')
          |  
          label(for='confirmPwd') Re-enter password
      .md-form.form-group
        input#hiking.form-control(type='text', name='hiking')
        |  
        label(for='hiking') What do you want to learn?(#guitar, #programming)
        |  
        button.btn.btn-primary.btn-submit.pt-1.float-sm-right(type='submit') Submit
